[submodule "XamlX"]
	path = external/XamlX
	url = https://github.com/kekekeks/XamlX.git
[submodule "Avalonia.DBus"]
	path = external/Avalonia.DBus
	url = https://github.com/steveriemannx/Avalonia.DBus.git
	branch = freebsd
